nodeRedFlows/flowsTpMqttNodeRed.json
[
    {
        "id": "70b4eb047084ac75",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "795bf448bb83b6e8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "c20cc05d4cc85dfb",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4dde75a4c8091253",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "795bf448bb83b6e8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "c20cc05d4cc85dfb",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "12a7ae44e2642693",
        "type": "ui-group",
        "name": "Graphs",
        "page": "4dde75a4c8091253",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "984e788ac49f87d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.176",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28e165628fd70b37",
        "type": "ui-group",
        "name": "Controls",
        "page": "4dde75a4c8091253",
        "width": "2",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2ec414f7df0ed90e",
        "type": "ui-chart",
        "z": "70b4eb047084ac75",
        "group": "12a7ae44e2642693",
        "name": "Temperature DHT11",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 520,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6c40f560397de2e8",
        "type": "mqtt in",
        "z": "70b4eb047084ac75",
        "name": "",
        "topic": "esp32/DHT11/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "984e788ac49f87d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "2ec414f7df0ed90e"
            ]
        ]
    },
    {
        "id": "a0143ad192c60dfe",
        "type": "mqtt in",
        "z": "70b4eb047084ac75",
        "name": "",
        "topic": "esp32/DHT11/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "984e788ac49f87d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "c31ccee598653682"
            ]
        ]
    },
    {
        "id": "c31ccee598653682",
        "type": "ui-chart",
        "z": "70b4eb047084ac75",
        "group": "12a7ae44e2642693",
        "name": "Humidity DHT11",
        "label": "chart",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5220ac44b5d45292",
        "type": "mqtt out",
        "z": "70b4eb047084ac75",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "984e788ac49f87d8",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "af58418f58e393a0",
        "type": "ui-switch",
        "z": "70b4eb047084ac75",
        "name": "LED status",
        "label": "switch",
        "group": "28e165628fd70b37",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "topic",
        "topicType": "flow",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "5220ac44b5d45292"
            ]
        ]
    },
    {
        "id": "ef690e1b57029f67",
        "type": "mqtt in",
        "z": "70b4eb047084ac75",
        "name": "",
        "topic": "esp32/button1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "984e788ac49f87d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "537280e697f5fc5a"
            ]
        ]
    },
    {
        "id": "537280e697f5fc5a",
        "type": "function",
        "z": "70b4eb047084ac75",
        "name": "function 1",
        "func": "if (msg.payload == \"down\") {\n    msg.payload = \"on\";\n} else if (msg.payload == \"up\") {\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "af58418f58e393a0"
            ]
        ]
    },
    {
        "id": "c98703d27b63981c",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.28.0"
        }
    }
]